
    
    

    
     .items{
    
        height: 100%;
        width:  100%;
        background-color: rgb(104, 104, 133);
        border: 2px solid orange;
        color: white;   
        text-align: center;
        font-size: 40px;
        padding-top: 10px;
        
    }  

 @media (max-width:300px) {
    
    .container{

        height: 100%;
        width: 95%;
        border: 2px solid black;
         display: grid;  
        margin-bottom: 500px;
        padding: 1rem;
        background-color:skyblue;
        justify-content: space-around;
    
        row-gap: 10px;
        column-gap: 10px; 
    
        /* grid-template-rows: 100px 100px;
        grid-template-columns: 100px 100px 100px;*/
     
        grid-template-columns: repeat(1,1fr);  
        grid-template-rows: repeat(6,1fr);
        
        /* grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(6,1fr); */
    
        margin-bottom: 100px;
       
    
    
    } 


     .items{
    
        height: 100%;
        width:  100%;
        background-color: rgb(104, 104, 133);
        border: 2px solid orange;
        color: white;   
        text-align: center;
        font-size: 40px;
        padding-top: 10px;
        row-gap: 20px;
        
    }  

  
    


}