#box1{

    height: 200px;
    width: 300px;
    background-color: red;
    font-size: 50px;
    padding-top: 100px;

    text-align: center;
    align-items: center;
    display:block;
}
#box2{

    height: 200px;
    width: 300px;
    background-color: red;
    font-size: 50px;
    padding-top: 100px;
    
    text-align: center;
    align-items: center;
    display:none;
}